<!doctype html>
<html lang="zh-CN">
    <head>
        <title>学讲话赞习大大</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />
        <link rel="stylesheet" href="__PUBLIC__/js/jquery.mobile-1.4.5/jquery.mobile-1.4.5.min.css">
        <script src = '__PUBLIC__/js/jquery-2.1.4.min.js'></script>
        <script src = '__PUBLIC__/js/jquery.mobile-1.4.5/jquery.mobile-1.4.5.min.js'></script>
        <script src = '__PUBLIC__/js/pageChange.js?v={:time()}'></script>
        <script src = '__PUBLIC__/js/main.js?v={:time()}'></script>
        <script src = "__PUBLIC__/js/styleSet.js?v={:time()}"></script>
        <link rel="stylesheet" href="__PUBLIC__/css/stlye.css?v={:time()}">
    </head>
    <body>
        <div data-role="page" id="mask">
            123
        </div>
        <div data-role="page" id="beginPage">
            <img src="__PUBLIC__/images/beginXi.png" alt="" class="beginImg">
            <div id="btnContainer">
                <div class="startBtn btn"></div>
                <div class="listBtn btn"></div>
            </div>
            <span class="copyContainer">
                <span class="copyright">©️Redrock</span>
            </span>
        </div>
        <div data-role="page" id="backPage">
            <div class="mask">

            </div>
            <div class="programerHolder">
                <div>
                    <ul class="programer">
                        <li>产品策划：杨奇凡</li>
                        <li>
                            视觉设计：唐荟云
                        </li>
                        <li>
                            前端开发：周政
                        </li>
                        <li>
                            后端开发：隆宗益
                        </li>
                        <li>
                            指导教师：杨奇凡
                        </li>
                        <li>
                            出品：红岩网校工作站
                        </li>
                    </ul>
                </div>
            </div>
            <span class="Qc">
                <span class="programerList">
                    ?
                </span>
            </span>
            <img src="__PUBLIC__/images/backintro.png" alt="" class="backImage">
            <img src="__PUBLIC__/images/back.png" alt="" class="introduction">
            <div class="btnC">
                <div class="playBtn btn"></div>
                <div class="returnBtn btn"></div>
            </div>
            <span class="copyContainer">
                <span class="copyright">©️Redrock</span>
            </span>

        </div>
        <div data-role="page" id="gamePage">
            <span class="Qtitle">
                《习近平用典》
            </span>
            <div class="questionContainer">
                <img src="__PUBLIC__/images/flag.png" alt="" class="flag">
                <div class="conversation">
                    <div class="sentences">
                        新形势下，我们党的自身建设面
                        临一系列新情况新问题新挑战，
                        落实党要管党、从严治党的任务
                        比以往任何时候都更为繁重、更
                        为紧迫。我们必须以更大的决心
                        和勇气抓好党的自身建设，确保
                        党在世界形势深刻变化的历史进
                        程中始终走在时代前列，在应对
                        国内外各种风险和考验的历史进
                        程中始终成为全国人民的主心骨
                        在发展中国特色社会主义的历史
                        进程中始终成为坚强的领导核心
                        新形势下，我们党的自身建设面
                        临一系列新情况新问题新挑战，
                        落实党要管党、从严治党的任务
                        比以往任何时候都更为繁重、更
                        为紧迫。我们必须以更大的决心
                        和勇气抓好党的自身建设，确保
                        党在世界形势深刻变化的历史进
                        程中始终走在时代前列，在应对
                        国内外各种风险和考验的历史进
                        程中始终成为全国人民的主心骨
                        在发展中国特色社会主义的历史
                        进程中始终成为坚强的领导核心
                        新形势下，我们党的自身建设面
                        临一系列新情况新问题新挑战，
                        落实党要管党、从严治党的任务
                        比以往任何时候都更为繁重、更
                        为紧迫。我们必须以更大的决心
                        和勇气抓好党的自身建设，确保
                        党在世界形势深刻变化的历史进
                        程中始终走在时代前列，在应对
                        国内外各种风险和考验的历史进
                        程中始终成为全国人民的主心骨
                        在发展中国特色社会主义的历史
                        进程中始终成为坚强的领导核心
                        新形势下，我们党的自身建设面
                        临一系列新情况新问题新挑战，
                        落实党要管党、从严治党的任务
                        比以往任何时候都更为繁重、更
                        为紧迫。我们必须以更大的决心
                        和勇气抓好党的自身建设，确保
                        党在世界形势深刻变化的历史进
                        程中始终走在时代前列，在应对
                        国内外各种风险和考验的历史进
                        程中始终成为全国人民的主心骨
                        在发展中国特色社会主义的历史
                        进程中始终成为坚强的领导核心
                    </div>
                    <div class="provenance">
                        ——《全面贯彻落实党的十八大
                        精神要突出抓好六个方面工作》
                        （2012年11月15日）
                    </div>
                </div>
                <div class="allusion">
                    <div class="box">
                        <span>■</span>
                        <div class="refrence">
                            衙斋卧听萧萧竹，疑是民间疾苦
                            声。些小吾曹州县吏，一枝一叶
                            总关情。——《在参加兰考县委常
                            委班子专题民主生活会时的讲
                            话》等文中引用。
                        </div>
                    </div><br><br>
                    <div class="box">
                        <span>■</span>
                        <div class="via">
                            出处：﹝清﹞郑燮《潍县署中画竹
                            呈年伯包大中丞括》
                        </div>
                    </div><br>
                    <div class="box">
                        <span>■</span>
                        <div class="explain">
                            解读：小官有大作用。习近平同志
                            多次强调基层干部的作用。2013年
                            11月26日，他在菏泽市座谈时，还特
                            意给在场市、县委书记们念了一副
                            对联：“得一官不荣，失一官不辱，
                            勿道一官无用，地方全靠一官；穿
                            百姓之衣，吃百姓之饭，莫以百姓
                            可欺，自己也是百姓。”他说，封建
                            时代官吏尚有这样的认识，今天我
                            们共产党人应该比这个境界高得
                            多。习近平同志推崇的干部，大多
                            级别不高，多在基层任职，但都“
                            干在实处、走在前列”。
                        </div>
                    </div><br><br>
                </div>
            </div>
            <div class="nextBtn btn">
                <span class="time">15</span>s
            </div>
            <span class="copyContainer">
                <span class="copyright">©️Redrock</span>
            </span>
        </div>
        <div data-role="page" id="overPage">
            <div class="firstState">
                <img src="__PUBLIC__/images/good.png" alt="" class="goodBack">
                <div class="goOver btn">

                </div>
            </div>
            <div class="secondState">
                <img src="__PUBLIC__/images/myCardtitle.png" alt="" class="cardTitle">
                <div class="cardBack">
                    <p class="num">1</p>
                    <p class="sentence">
                        亲！你总共打卡<span class="days">1</span>天，共学习了<span class="groups">5</span>组，在学习榜单中排名<span class="rankNow">1</span>。
                    </p>
                </div>
                <div class="ok btn">

                </div>
                <div class="replay btn">

                </div>
            </div>
            <span class="copyContainer">
                <span class="copyright">©️Redrock</span>
            </span>
        </div>
        <div data-role="page" id="listPage">
            <img src="__PUBLIC__/images/listTop.png" alt="" class="listTop">
            <div class="listBack">
                <div class="listHolder">
                    <p class="showP">
                        <span class="usrName">咕咚咕咚好</span> 排名第 <span class="rankNum">89</span> 名
                    </p>
                    <ul class="list">
                        <li style="background: #f6e9e9;color: #6f6f6f">
                            <span class="aRank">
                                名次
                            </span>
                            <span class="aName">昵称</span>
                        </li>
                        <li>
                            <span class="aRank">
                                <img src="__PUBLIC__/images/au.png" alt="" class="medal">
                            </span>
                            <span class="aName">1</span>
                        </li>
                        <li>
                            <span class="aRank">
                                <img src="__PUBLIC__/images/si.png" alt="" class="medal">
                            </span>
                            <span class="aName">LichSB</span>
                        </li>
                        <li>
                            <span class="aRank">
                                <img src="__PUBLIC__/images/Cu.png" alt="" class="medal">
                            </span>
                            <span class="aName">LichSB</span>
                        </li>
                        <li>
                            <span class="aRank">4</span>
                            <span class="aName">LichSB</span>
                        </li>
                        <li>
                            <span class="aRank">5</span>
                            <span class="aName">LichSB</span>
                        </li>
                        <li>
                            <span class="aRank">6</span>
                            <span class="aName">LichSB</span>
                        </li>
                        <li>
                            <span class="aRank">7</span>
                            <span class="aName">LichSB</span>
                        </li>
                        <li>
                            <span class="aRank">8</span>
                            <span class="aName">LichSB</span>
                        </li>
                        <li>
                            <span class="aRank">9</span>
                            <span class="aName">LichSB</span>
                        </li>
                        <li>
                            <span class="aRank">10</span>
                            <span class="aName">LichSB</span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="return btn">

            </div>
            <span class="copyContainer">
                <span class="copyright">©️Redrock</span>
            </span>
        </div>
        <script src="//res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
        <script>
            wx.config({
                debug: false, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
                appId: 'wx81a4a4b77ec98ff4', // 必填，公众号的唯一标识
                timestamp: "{$signature['timestamp']}", // 必填，生成签名的时间戳
                nonceStr: "{$signature['noncestr']}", // 必填，生成签名的随机串
                signature: "{$signature['signature']}",// 必填，签名，见附录1
                jsApiList: [
                    'onMenuShareTimeline',
                    'onMenuShareAppMessage',
                    'onMenuShareQQ',
                    'onMenuShareQZone',
                    'hideAllNonBaseMenuItem'
                ] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
            });
            wx.ready(function(){
                wx.onMenuShareTimeline({
                    title: '学讲话赞习大大', // 分享标题
                    link: "{$signature['url']}",
                    imgUrl: "https://redrock.cqupt.edu.cn/praise_xi_shanbei/Public/images/share.png",
                    success: function () {
//                        alert('分享成功!');// 用户确认分享后执行的回调函数
                    },
                    cancel: function () {
                        // 用户取消分享后执行的回调函数
                    }
                });
                wx.onMenuShareAppMessage({
                    title: '学讲话赞习大大', // 分享标题
                    desc: '学讲话赞习大大分享描述', // 分享描述
                    link: "{$signature['url']}",
                    imgUrl: "https://redrock.cqupt.edu.cn/praise_xi_shanbei/Public/images/share.png",
                    type: '', // 分享类型,music、video或link，不填默认为link
                    dataUrl: '', // 如果type是music或video，则要提供数据链接，默认为空
                    success: function () {
//                        alert('分享成功!');// 用户确认分享后执行的回调函数
                    },
                    cancel: function () {
                        // 用户取消分享后执行的回调函数
                    }
                });
                wx.onMenuShareQQ({
                    title: '学讲话赞习大大', // 分享标题
                    desc: '学讲话赞习大大分享描述', // 分享描述
                    link: "{$signature['url']}",
                    imgUrl: "https://redrock.cqupt.edu.cn/praise_xi_shanbei/Public/images/share.png",
                    success: function () {
//                        alert('分享成功!');// 用户确认分享后执行的回调函数
                    },
                    cancel: function () {
                        // 用户取消分享后执行的回调函数
                    }
                });
                wx.onMenuShareQZone({
                    title: '学讲话赞习大大', // 分享标题
                    desc: '学讲话赞习大大分享描述', // 分享描述
                    link: "{$signature['url']}",
                    imgUrl: "https://redrock.cqupt.edu.cn/praise_xi_shanbei/Public/images/share.png",
                    success: function () {
//                        alert('分享成功!');// 用户确认分享后执行的回调函数
                    },
                    cancel: function () {
                        // 用户取消分享后执行的回调函数
                    }
                });
            });
        </script>

    </body>
</html>